<% inquiry.replies.each_with_index do |reply,index| %>
		<% index += 1 %>
		<div class="row" style="margin-bottom: 30px;">
			<div class="col-sm-2 col-xs-2">
				<%= index %>.　
				<!-- is_writerがfalseでユーザ投稿 -->
				<% if reply.is_writer == false %>
					あなたの返信
				<% else %>
					修理店からの返信
				<% end %>
			</div>
			<div class="col-sm-4 col-xs-4">
				<p>投稿日時： <%= reply.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[reply.created_at.wday]}) %H:%M") %></p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<p>
				返信文：<br/>
				<%= reply.body %>
			</p>
		</div>
	<% end %>
	<div class="col-sm-12 col-xs-12" id="replies">
		<% if defined? order == false %>
			<%= link_to "返信", new_users_user_inquiry_reply_path(current_user, inquiry), remote: true, class: "btn btn-success" %>
		<% else %>
		<% binding.pry %>
			<%= link_to "返信", new_users_user_order_inquiry_reply_path(current_user, order, inquiry), remote: true, class: "btn btn-success" %>
		<% end %>
	</div>