<div class="container" style="min-height: 500px; margin-bottom: 150px;">

	<div class="body-boder col-md-5 col-xs-8" style="margin: 50px 0 50px 0;">
		<h2 class="font-size5" style="padding-left: 10px;">マイページ</h2>
	</div>

	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<!-- タブメニュー -->
			<div class="row">
				<div id="tab-menu" class="col-md-10 col-xs-12">
		      <a href="#tab1" class="active col-sm-4 col-xs-4 btn btn-default font-size4" style="box-shadow: 10px 10px 10px;">
		      	登録情報
		      </a>
		      <a href="#tab2" class="col-sm-4 col-xs-4 btn btn-default font-size4" style="box-shadow: 10px 10px 10px;">
		      	注文
		      </a>
		      <a href="#tab3" class="col-sm-4 col-xs-4 btn btn-default font-size4" style="box-shadow: 10px 10px 10px;">
		      	問合せ
		      </a>
		    </div>
			</div>

			<div id="tab1" class="tab body-boder font-size3 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 teble-margin">
						<strong>氏名(かな)</strong>
					</div>
					<div class="col-sm-8 col-xs-8 teble-margin">
						<%= @user.name %> (<%= @user.name_kana %>)
					</div>
				</div>

				<div class="row border-top teble-margin">
					<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 teble-margin">
						<strong>住 　所</strong>
					</div>
					<div class="col-sm-8 col-xs-8 teble-margin">
						〒 <%= @user.postcode.insert(3, '-') %>
					</div>
					<div class="col-sm-8 col-xs-8 col-sm-offset-4 col-xs-offset-4 teble-margin">
						<%= text_br(@user.address) %>
					</div>
				</div>

				<div class="row border-top teble-margin">
					<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 teble-margin">
						<strong>電話番号</strong>
					</div>
					<div class="col-sm-8 col-xs-8 teble-margin">
						<%= telephone_ber(@user.telephone_number) %>
					</div>
				</div>

				<div class="row border-top teble-margin">
					<div class="col-md-3 col-xs-4 col-md-offset-1 teble-margin">
						<strong>メールアドレス</strong>
					</div>
					<div class="col-sm-8 col-xs-8 teble-margin">
						<%= @user.email %>
					</div>
				</div>

				<% if card_by?(@user) %>
					<div class="row border-top teble-margin">
						<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 teble-margin">
							<strong>カード情報</strong>
						</div>
						<div class="col-sm-8 col-xs-8 teble-margin">
							<%= @default_card_information.brand %>　**** **** **** <%= @default_card_information.last4 %>
						</div>
						<div class="col-sm-8 col-xs-8 col-sm-offset-4 col-xs-offset-4 teble-margin">
							有効期限： <%= @default_card_information.exp_month %>/<%= @default_card_information.exp_year %>
						</div>
					</div>
	      <% end %>

				<div class="row border-top teble-margin" style="margin-bottom: 40px;">
					<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1 teble-margin">
						<%= link_to "登録情報を編集する", edit_users_user_path(@user), class: "btn btn-info font-size3" %>
					</div>
				</div>
			</div>

			<div id="tab2" class="tab body-boder col-sm-12 col-xs-12" style="min-height: 300px;">
				<table class="table">
					<thead class="font-size3">
						<tr>
							<th>状況</th>
							<th>修理店</th>
							<th>受付日</th>
							<th>納品日</th>
							<th>料金</th>
							<th></th>
						</tr>
					</thead>
					<% if @user.orders.present? %>
						<tbody class="font-size2">
							<% @user.orders.reverse.each do |order| %>
								<tr>
									<td><%= order.repair_status %></td>
									<td><%= link_to order.on_store_user.shop_name[0..11], users_on_store_users_show_path(order.on_store_user) %></td>
									<td><%= order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]})") %></td>
									<td>
										<% if order.delivery_day == nil %>
											未納
										<% else %>
											<%= order.delivery_day.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]})") %>
										<% end %>
									</td>
									<td>
										<% if order.charge.present? %>
											<%= order.charge.to_s(:delimited) %>円
										<% else %>
											未確定
										<% end %>
									</td>
									<td><%= link_to "明細へ", users_user_order_path(@user, order), class: "btn btn-default" %></td>
								</tr>
							<% end %>
						</tbody>
					<% else %>
						<tbody class="font-size3">
							<tr>
								<td>まだ注文がありません</td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>

			<div id="tab3" class="tab inquiries body-boder col-md-12 col-xs-12" style="min-height: 300px;">
				<% if @user.inquiries.present? %>
					<%= render '/shared/inquiries/index', user: @user, inquiries: @inquiries %>
				<% else %>
				<div class="col-sm-5 col-xs-5" style="margin-top: 30px;">
					<p class="font-size3">まだお問合せはありません</p>
				</div>
				<% end %>
			</div>

		</div>
	</div>
</div>

<script>
	$('.tab[id != "tab1"]').hide();

	$('#tab-menu a').on('click', function() {
  	$(".tab").hide();
  	$("#tab-menu .active").removeClass("active");
  	$(this).addClass("active");
  	$($(this).attr("href")).show();
  	return false;
	});
</script>


