<div class="container">
	<h2 class="font-size4">マイページ</h2>
	<div class="row">
		<div class="col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1">

			<!-- タブメニュー -->
		<div class="row">
			<div id="tab-menu" class="col-sm-6 col-xs-6">
	      <a href="#tab1" class="active col-sm-3 col-xs-3 btn btn-default">登録情報</a>
	      <a href="#tab2" class="col-sm-3 col-xs-3 btn btn-default">注文一覧</a>
	      <a href="#tab3" class="col-sm-3 col-xs-3 btn btn-default">問合せ一覧</a>
	    </div>
	    <div class="col-sm-2 col-sm-offset-1">
	      <p class="btn btn-success">QRコードを表示</p>
	    </div>
		</div>

			<div id="tab1" class="tab">
				<ul class="list-group">
					<li class="list-group-item">名前</li>
					<li class="list-group-item"><%= @user.name %></li>
					<li class="list-group-item">住所</li>
					<li class="list-group-item"><%= @user.postcode %></li>
					<li class="list-group-item"><%= @user.address %></li>
					<li class="list-group-item">電話番号</li>
					<li class="list-group-item"><%= @user.telephone_number %></li>
					<li class="list-group-item">メールアドレス</li>
					<li class="list-group-item"><%= @user.email %></li>
					<li class="list-group-item"><%= link_to "登録情報を編集する", edit_users_user_path(@user), class: "btn btn-info" %></li>
				</ul>
			</div>

			<div id="tab2" class="tab">
				<table class="table">
					<thead>
						<tr>
							<th>修理状況</th>
							<th>修理店</th>
							<th>受付日</th>
							<th>納品日</th>
							<th>料金</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @user.orders.reverse.each do |order| %>
							<tr>
								<td><%= order.repair_status %></td>
								<td><%= link_to order.on_store_user.shop_name, users_on_store_users_show_path(order.on_store_user) %></td>
								<td><%= order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %></td>
								<td>
									<% if order.delivery_day == nil %>
										未納
									<% else %>
										<%= order.delivery_day.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %>
									<% end %>
								</td>
								<td><%= order.charge %></td>
								<td><%= link_to "明細を見る", users_user_order_path(@user, order), class: "btn btn-default" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<div id="tab3" class="tab inquiries">
				<%= render '/shared/inquiries/index' %>
			</div>

		</div>
	</div>
</div>

<script>
	$('.tab[id != "tab1"]').hide();

	$('#tab-menu a').on('click', function() {
  	$(".tab").hide();
  	$("#tab-menu .active").removeClass("active");
  	$(this).addClass("active");
  	$($(this).attr("href")).show();
  	return false;
	});
</script>
