<div class="container">
	<h2 class="font-size4">修理店一覧</h2>

	<%= form_with(url:users_on_store_users_index_path, method: :get, local: true) do |f| %>
		<%= f.label :"市から選択" %>
		<%= f.select :address, {横浜市: "横浜市", 川崎市: "川崎市", 相模原市: "相模原市", 厚木市: "厚木市", 海老名市: "海老名市",} %>
		<%= f.submit "test", name: "serch" %>
	<% end %>

	<%= search_form_for(@q, url:users_on_store_users_index_path) do |f| %>

		<%= f.label :major_categories_name_cont, 'サービス概要' %>
		<%= f.search_field :major_category_name_or_name_or_minor_categories_name_cont %>

		<%= f.submit "serch", name: "serch" %>
	<% end %>

	<% @shops.each do |shop| %>
		<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-bottom: 50px;">
			<div class="col-sm-5">
				<%= attachment_image_tag shop, :image, :fill, 350, 350, format: 'jpeg', fallback: "/no_image.jpg", size:'350x350' %>
			</div>
			<div class="col-sm-7">
				<h3 class="font-size3" style="margin-top: 0;"><%= link_to shop.shop_name, users_on_store_users_show_path(shop) %></h3>
				<table class="table font-size2">
					<tbody>
						<tr>
							<td class="cell-title">営業時間</td>
							<td class="cell-body"><%= shop.business_hours %></td>
						</tr>
						<tr>
							<td class="cell-title">定休日</td>
							<td class="cell-body"><%= shop.holiday %></td>
						</tr>
						<tr>
							<td class="cell-title">電話番号</td>
							<td class="cell-body"><%= shop.telephone_number %></td>
						</tr>
						<tr>
							<td class="cell-title">住所</td>
							<td class="cell-body"><%= shop.postcode %></td>
						</tr>
						<tr>
							<td class="cell-title" style="border: none;"></td>
							<td class="cell-body" style="border: none; "><%= shop.address %></td>
						</tr>
						<tr>
							<td class="cell-title">駐車場</td>
							<td class="cell-body"><%= shop.parking %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>
	<%#= paginate @shops, class: "paginate" %>
</div>