<div class="container-fluid" style="min-height: 500px; margin-bottom: 150px;">

	<% if @search_by.present? %>
		<% if @search_by == "service" %>
			<div class="body-boder col-md-8 col-xs-12" style="margin: 50px 0 50px 0;">
				<h2 class="font-size5" >検索"サービス内容"</h2>
			</div>
		<% else %>
			<div class="body-boder col-md-8 col-xs-12" style="margin: 50px;">
				<h2 class="font-size5" style="padding-left: 10px;">検索"<%= @search_by %>"</h2>
			</div>
		<% end %>
	<% else %>
		<div class="body-boder col-md-4 col-xs-6" style="margin: 50px;">
			<h2 class="font-size5" style="padding-left: 10px;">店舗一覧</h2>
		</div>
	<% end %>


	<div class="row">
		<div class="col-md-11 margin-left col-xs-12 body-boder">

			<div class="col-md-8 col-xs-7 font-size3" style="margin-top: 40px;">
				<%= form_with(url:users_on_store_users_index_path, method: :get, local: true) do |f| %>
					<%= f.label :"市から探す" %>
					<%= f.select :address, {横浜市: "横浜市", 川崎市: "川崎市", 相模原市: "相模原市", 厚木市: "厚木市", 海老名市: "海老名市"}, class: "btn btn-default", style: "margin-top: 15px;" %>
					<%= f.submit "検索", name: "serch", class: "btn btn-default font-size2", style: "margin-bottom: 10px;" %>
				<% end %>
			</div>
			<div class="col-md-4 col-xs-4 font-size3" style="margin-top: 40px;">
				<%= link_to "全店一覧へ戻る", users_on_store_users_index_path, class: "btn btn-default font-size2" %>
			</div>

			<div class="col-md-8 col-xs-12 font-size3" style="margin: 20px 0 40px 0;">
				<%= search_form_for(@q, url:users_on_store_users_index_path, class: "form-inline") do |f| %>
				<div class="form-group">
					<%= f.label :major_categories_name_cont, 'サービス内容から探す' %>
					<%= f.search_field :major_category_name_or_name_or_minor_categories_name_cont, class: "form-control" %>
				</div>
					<%= f.submit "検索", name: "serch_service", class: "btn btn-default font-size2" %>
				<% end %>
			</div>

			<% @shops.each do |shop| %>
				<div class="row" style="margin-bottom: 50px;">
					<div class="col-md-5 col-xs-5 padding">
						<%= link_to users_on_store_users_show_path(shop) do %>
							<%= attachment_image_tag shop, :image, :fill, 300, 300, format: 'jpeg', fallback: "/no_image.jpg", size:'300x300' %>
						<% end %>
					</div>
					<div class="col-md-7 col-xs-7">
						<h3 class="font-size3" style="margin-top: 0;"><%= link_to shop.shop_name, users_on_store_users_show_path(shop) %></h3>
						<table class="table font-size2">
							<tbody>
								<tr>
									<td class="cell-title">営業時間</td>
									<td class="cell-body">
										<% if shop.business_hours == nil %>
											未登録
										<% else %>
											<%= shop.business_hours %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td class="cell-title">定休日</td>
									<td class="cell-body">
										<% if shop.holiday == nil %>
											未登録
										<% else %>
											<%= shop.holiday %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td class="cell-title">電話番号</td>
									<td class="cell-body">
										<%= telephone_ber(shop.telephone_number) %>
									</td>
								</tr>
								<tr>
									<td class="cell-title">住所</td>
									<td class="cell-body">〒 <%= shop.postcode.insert(3, '-') %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border: none;"></td>
									<td class="cell-body" style="border: none; "><%= shop.address %></td>
								</tr>
								<tr>
									<td class="cell-title">駐車場</td>
									<td class="cell-body">
										<% if shop.closest_station == nil %>
											未登録
										<% else %>
											<%= shop.closest_station %>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<% end %>
			<% if @search_by == "service" %>
			<% else %>
				<%= paginate @shops, class: "paginate" %>
			<% end %>
		</div>

		</div>
	</div>

	<style type="text/css" media="(min-width: 992px)">
		.padding {
			padding-left: 50px;
		}
	</style>