<div class="col-sm-3 col-xs-3" style="margin-top: 20px;">
	<%= link_to "編集",edit_on_store_users_on_store_user_order_path(current_on_store_user, order), remote: true, class: "btn btn-default" %>
</div>
<div class="row"></div>
<div class="row">
	<div class="col-sm-3 col-xs-3">品種</div>
	<div class="col-sm-9 col-xs-9"><%= order.variety %></div>
</div>
<div class="row">
	<div class="col-sm-3 col-xs-3">メーカー</div>
	<div class="col-sm-9 col-xs-9"><%= order.maker %></div>
</div>
<div class="row">
	<div class="col-sm-3 col-xs-3">型番</div>
	<div class="col-sm-9 col-xs-9"><%= order.model %></div>
</div>
<div class="row">
	<div class="col-sm-3 col-xs-3">症状</div>
	<div class="col-sm-9 col-xs-9" style="word-break: break-all;"><%= order.symptom %></div>
</div>
<% if order.order_images.present? %>
	<div class="row">
		<h3>画像</h3>
		<div class="container-fluid" style="height: 400px; width: 700px; background-color: gray;">
			<div class="theTarget">
				<% order.order_images.each do |image| %>
					<div style="padding-left: 40px;"><%= attachment_image_tag image, :image, :fill, 600, 400, format: 'jpeg' %></div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>
	$('document').on('turbolinks:load', function(){
		$('.theTarget').skippr();
	});

	$('.theTarget').skippr({
		// "fade" or "slide"
		transition: 'slide',
		speed: 500,
		// easingの種類
		easing: 'easeOutQuart',
		// "block" or "bubble"
		navType: 'bubble',
		// "div" or "img"
		childrenElementType: 'div',
		arrows: true,
		// スライドショーの自動再生
		autoPlay: false,
	// キーボードの矢印キーによるスライド送りの設定
		keyboardOnAlways: true,
	// 1枚目のスライド表示時に戻る矢印を表示するか
		hidePrevious: false
	});
</script>