<div class="container margin-top">
	<div class="col-sm-12 col-xs-12">
		<div class="font-size2" style="margin-bottom: 30px;">
			<%= search_form_for(@search, as: :search, url: on_store_users_on_store_user_orders_path(current_on_store_user), class: "form-inline" ) do |f| %>

				<div class="form-group">
					<%= f.label :user_name_cont, 'ユーザ名' %>
					<%= f.search_field :user_name_cont, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :repair_status_eq, '修理状況' %>
					<%= f.select :repair_status_eq, [["集荷前", 1], ["見積前", 2], ["修理中", 3], ["修理完了", 4], ["支払済み", 5], ["納品済", 6], ["取引完了", 7], ["キャンセル", 8]], :include_blank => '指定なし' %>
				</div>
				<div class="form-group">
					<%= f.label :variety_eq, '品種' %>
					<%= f.select :variety_eq, [["掛時計", 1], ["置時計", 2], ["ホールクロック", 3], ["腕時計", 4], ["懐中時計", 5], ["その他", 6]], :include_blank => '指定なし' %>
				</div>
				<div class="form-group">
					<%= f.submit "検索", name: "serch", class: "btn btn-default" %>
				</div>
			<% end %>
		</div>
		<table class="table font-size2">
			<thead>
				<tr>
					<th><%= sort_link(@search, :id, '管理No') %></th>
					<th><%= sort_link(@search, :repair_status, '修理状況') %></th>
					<th><%= sort_link(@search, :variety, '品種') %></th>
					<th>お客様</th>
					<th>電話番号</th>
					<th>データ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td style="padding-top: 15px; padding-bottom: 15px;"><%= link_to order.serial_number, on_store_users_on_store_user_order_path(current_on_store_user, order) %></td>
						<td style="padding-top: 15px; padding-bottom: 15px;"><%= order.repair_status %></td>
						<td style="padding-top: 15px; padding-bottom: 15px;"><%= order.variety %></td>
						<td style="padding-top: 15px; padding-bottom: 15px;"><%= order.user.name %></td>
						<td style="padding-top: 15px; padding-bottom: 15px;"><%= telephone_ber(order.user.telephone_number) %></td>
						<td style="padding-top: 15px; padding-bottom: 15px;">
							<% if order.delivery_day == nil %>
								受付日：
							<% else %>
								納品日：
							<% end %>
						</td>
						<td style="padding-top: 15px; padding-bottom: 15px;">
							<% if order.delivery_day == nil %>
								<%= order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %>
							<% else %>
								<%= order.delivery_day.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @orders, class: "paginate" %>
	</div>
</div>

<style type="text/css" media="screen">
	td {
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>