<div id="tab2" class="tab">
	<table class="table">
		<thead>
			<tr>
				<th>管理No</th>
				<th>修理状況</th>
				<th>品種</th>
				<th>お客様</th>
				<th>電話番号</th>
				<th>データ</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% current_on_store_user.orders.reverse.each_with_index do |order, index| %>
				<tr>
					<td><%= link_to '<%= index %>', on_store_users_on_store_user_order_path(current_on_store_user, order) %></td>
					<td><%= order.repair_status %></td>
					<td><%= link_to order.on_store_user.shop_name, users_on_store_users_show_path(order.on_store_user) %></td>
					<td><%= order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %></td>
					<td>
					<% if order.delivery_day == nil %>
					未納
					<% else %>
					<%= order.delivery_day.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[order.created_at.wday]}) %H:%M") %>
					<% end %>
					</td>
					<td><%= order.charge %></td>
					<td><%#= link_to "明細を見る", users_user_order_path(@user, order), class: "btn btn-default" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>