<div class="container margin-top" style="margin-bottom: 150px;">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-12">

			<!-- タブメニュー -->
			<div class="row">
					<div id="tab-menu1" class="col-sm-9 col-xs-9">
		        <a href="#tab1" class="active col-sm-3 col-xs-3 btn btn-default font-size3">注文詳細</a>
		        <a href="#tab2" class="col-sm-3 col-xs-3 btn btn-default font-size3">お問合せ</a>
		        <% if @order.reviews.present? %>
		        	<a href="#tab3" class="col-sm-3 col-xs-3 btn btn-default font-size3">レビュー</a>
		        <% end %>
		      </div>
		      <div class="col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-1">
		      	<p class="btn btn-success font-size3">QRコードを表示</p>
		      </div>
			</div>
			<!-- 注文情報 -->
			<div id="tab1" class="tab">
				<div class="row">
					<div class="col-sm-12">
						<table class="table font-size2">
							<tbody>
								<tr>
									<td class="cell-title"><strong>管理No(注文ID)</strong></td>
									<td class="cell-body"><%= @order.serial_number %>（<%= @order.id %>）</td>
								</tr>
								<tr>
									<td class="cell-title"><strong>受付日</strong></td>
									<td class="cell-body"><%= @order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@order.created_at.wday]}) %H:%M") %></td>
								</tr>
								<tr>
									<td class="cell-title"><strong>集荷方法</strong></td>
									<td class="cell-body"><%= @order.pickup %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3 class="font-size3">お客様情報</h3>
						<table class="table font-size2">
							<tbody>
								<tr>
									<td class="cell-title"><strong>お名前(かな)</strong></td>
									<td class="cell-body"><%= @order.user.name %>（<%= @order.user.name_kana %>）</td>
								</tr>
								<tr>
									<td class="cell-title"><strong>電話番号</strong></td>
									<td class="cell-body"><%= telephone_ber(@order.user.telephone_number) %></td>
								</tr>
								<tr>
									<td class="cell-title"><strong>メールアドレス</strong></td>
									<td class="cell-body"><%= @order.user.email %></td>
								</tr>
								<tr>
									<td class="cell-title"><strong>ご住所</strong></td>
									<td class="cell-body">〒 <%= @order.user.postcode %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border-top: none;"></td>
									<td class="cell-body" style="border-top: none;"><%= @order.user.address %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row" style="margin-bottom: 50px;">
					<div class="col-sm-12">
						<div class="col-sm-3 col-xs-3">
							<h3 class="font-size3">商品情報</h3>
						</div>
						<div class="font-size2 row" id="item">
							<%= render '/on_store_users/orders/show', order: @order %>
						</div>
					</div>
				</div>

				<div class="row" style="margin-bottom: 50px;">
					<div class="col-sm-12">
						<div class="col-sm-3 col-xs-3">
							<h3 class="font-size3">修理状況</h3>
						</div>
						<div class="font-size2 row" id="repair">
							<%= render '/on_store_users/orders/repair_detail', order: @order %>
						</div>
					</div>
				</div>

				<% if @order.repair_status != "集荷前" || @order.repair_status != "見積前" || @order.repair_status != "修理中" || @order.repair_status != "キャンセル" %>
					<div class="row">
						<div class="col-sm-12">
							<h3 class="font-size3">支払情報</h3>
							<table class="table font-size2">
								<tbody>
									<tr>
										<td class="cell-title"><strong>料金</strong></td>
										<td class="cell-body">
											<% if @order.charge.present? %>
												<%= @order.charge.to_s(:delimited) %>円　
											<% end %>
											<% if @order.repair_status != "取引完了" %>
												<%= link_to "編集",edit_on_store_users_on_store_user_order_path(current_on_store_user, @order, key: "charge"), remote: true, class: "btn btn-default font-size2" %>
											<% end %>
										</td>
									</tr>
									<tr>
										<% if @order.payment == nil %>
											<td class="cell-title"></td>
											<td class="cell-body"></td>
										<% else %>
											<td class="cell-title"><strong>支払方法</strong></td>
											<td class="cell-body"><%= @order.payment %></td>
										<% end %>
									</tr>
								</tbody>
							</table>
							<div class="row" id="charge"></div>
						</div>
					</div>
				<% end %>
			</div>

			<!-- お問合せフォーム -->
			<div id="tab2" class="tab inquiries">
				<%= render '/shared/inquiries/inquiry', inquiries: @order.inquiries, shop: @order.on_store_user,order: @order %>
			</div>

			<!-- レビュー -->
			<% if @order.reviews.present? %>
				<div id="tab3" class="tab">
					<%= render '/users/reviews/show', order: @order %>
				</div>
			<% end %>

		</div>
	</div>
</div>

<script>
	$('.tab[id != "tab1"]').hide();

	$('#tab-menu1 a').on('click', function() {
  	$(".tab").hide();
  	$("#tab-menu1 .active").removeClass("active");
  	$(this).addClass("active");
  	$($(this).attr("href")).show();
  	return false;
	});
</script>