<!-- 問合せの有無判定 -->
<% if inquiries.count == 0 %>
	<div style="height: 500px;">
		<div id="add">
			<div class="col-sm-12 col-xs-12 review_section" style="margin: 30px;">
				<% if user_signed_in? %>
					<!-- 注文に対する問合せかの分岐 -->
					<% if defined? order %>
						<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop, order_id: order.id), remote: true, class: "btn-default btn font-size3" %>
					<% else %>
						<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop), remote: true, class: "btn-default btn font-size3" %>
					<% end %>
				<% else %>
					<%= link_to "新規問合せはこちら", new_on_store_users_on_store_user_order_inquiry_path(current_on_store_user, order), remote: true, class: "btn-default btn font-size3" %>
				<% end %>
			</div>
			<div class="col-md-7 col-xs-9" style="margin-top: 50px;">
				<p class="font-size3">まだお問合せはありません</p>
			</div>
		</div>
	</div>
<% else %>
	<div id="add">
		<div class="col-sm-12 col-xs-12 review_section" style="margin: 30px;">
			<% if user_signed_in? %>
				<!-- 注文に対する問合せかの分岐 -->
				<% if defined? order %>
					<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop, order_id: order.id), remote: true, class: "btn-default btn font-size3" %>
				<% else %>
					<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop), remote: true, class: "btn-default btn font-size3" %>
				<% end %>
			<% else %>
				<%= link_to "新規問合せはこちら", new_on_store_users_on_store_user_order_inquiry_path(current_on_store_user, order), remote: true, class: "btn-default btn font-size3" %>
			<% end %>
		</div>

		<table class="table">
			<thead class="font-size3">
				<tr>
					<th style="width: 40%;">件名</th>
					<th style="width: 25%;">注文</th>
					<th style="width: 25%;">投稿日</th>
					<th style="width: 10%; color: red;">未読</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="font-size2">
				<% inquiries.reverse.each do |inquiry| %>
					<tr>
						<td><%= inquiry.title %></td>
						<td>
							<% if inquiry.order_id.present? %>
								<% if user_signed_in? %>
									<%= link_to inquiry.order_id, users_user_order_path(current_user, inquiry.order_id) %>
								<% else %>
									<%= link_to inquiry.order_id, on_store_users_on_store_user_order_path(current_on_store_user, inquiry.order_id) %>
								<% end %>
							<% else %>
								注文前
							<% end %>
						</td>
						<td>
							<% if inquiry.replies.count == 0 %>
								<%= inquiry.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.created_at.wday]})") %>
							<% else %>
								<%= inquiry.replies.last.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.replies.last.created_at.wday]})") %>
							<% end %>
						</td>
						<td>
							<!-- ユーザか出店者か -->
							<% if user_signed_in? %>
								<!-- 注文前か後か -->
								<% if inquiry.order_id == nil %>
									<!-- 既読か未読か -->
									<% if inquiry.user_read == false %>
										<%= link_to "内容へ", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, partial_key: "shop"), remote: true, class: "btn btn-danger" %>
									<% else %>
										<%= link_to "内容へ", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, partial_key: "shop"), remote: true, class: "btn btn-default" %>
									<% end %>
								<% else %>
									<!-- 既読か未読か -->
									<% if inquiry.user_read == false %>
										<%= link_to "内容へ", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, order_id: inquiry.order.id, partial_key: "order"), remote: true, class: "btn btn-danger" %>
									<% else %>
										<%= link_to "内容へ", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, order_id: inquiry.order.id, partial_key: "order"), remote: true, class: "btn btn-default" %>
									<% end %>
								<% end %>
							<% else %>
								<!-- 既読か未読か -->
								<% if inquiry.on_store_user_read == false %>
									<%= link_to "内容へ", on_store_users_on_store_user_order_inquiry_path(current_on_store_user, inquiry.order.id ,inquiry, partial_key: "order"), remote: true, class: "btn btn-danger" %>
								<% else %>
									<%= link_to "内容へ", on_store_users_on_store_user_order_inquiry_path(current_on_store_user, inquiry.order.id ,inquiry, partial_key: "order"), remote: true, class: "btn btn-default" %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>