<!-- 問合せの有無判定 -->
<% if inquiries.count == 0 %>
	<div style="height: 500px;">
		<div id="add">
			<p>まだお問合せはありません</p>
			<!-- 注文に対する問合せかの分岐 -->
			<% if defined? order %>
				<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop, order_id: order.id), remote: true, class: "btn-default btn" %>
			<% else %>
				<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop), remote: true, class: "btn-default btn" %>
			<% end %>
		</div>
	</div>
<% else %>
	<table class="table">
		<thead>
			<tr>
				<th>件名</th>
				<th>注文ID</th>
				<th>最終投稿日</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% inquiries.reverse.each do |inquiry| %>
				<tr>
					<td><%= inquiry.title %></td>
					<td>
						<% if inquiry.order_id.present? %>
							<%= link_to inquiry.order_id, users_user_order_path(current_user, inquiry.order_id) %>
						<% else %>
							注文前
						<% end %>
					</td>
					<td>
						<% if inquiry.replies.count == 0 %>
							<%= inquiry.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.created_at.wday]}) %H:%M") %>
						<% else %>
							<%= inquiry.replies.last.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.replies.last.created_at.wday]}) %H:%M") %>
						<% end %>
					</td>
					<td>
						<% if inquiry.order_id == nil %>
							<%= link_to "内容を見る", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, partial_key: "shop"), remote: true, class: "btn btn-default" %>
						<% else %>
							<%= link_to "内容を見る", users_user_inquiry_path(current_user, inquiry, shop_id: shop.id, order_id: inquiry.order.id, partial_key: "order"), remote: true, class: "btn btn-default" %>
						<% end %>
					</td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div id="add">
		<!-- 注文に対する問合せかの分岐 -->
			<% if defined? order %>
				<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop, order_id: order.id), remote: true, class: "btn-default btn" %>
			<% else %>
				<%= link_to "新規問合せはこちら", users_user_inquiry_new_path(current_user, shop), remote: true, class: "btn-default btn" %>
			<% end %>
	</div>
<% end %>