<h4 style="margin-bottom: 20px;"><strong>修理店を評価する</strong></h4>
<%= form_with model: Review.new, url: new_users_user_order_review_path(@user, @order), local: true do |f| %>
	<div class="row">
		<div class="field font-size3 col-sm-6 col-xs-6" style="margin-bottom: 30px">
		  <%= f.label :title, "タイトル" %><br/>
		  <%= f.text_field :title, class: "col-sm-6 col-xs-6" %>
		</div>
 </div>
	<div class="row">
		<div class="field font-size3 col-sm-6 col-xs-6" style="margin-bottom: 30px">
		  <%= f.label :body, "本文" %><br/>
		  <%= f.text_area :body, class: "col-sm-6 col-xs-6" %>
		</div>
	</div>
	<div class="actions col-sm-4 col-xs-4" style="margin-bottom: 20px">
		<%= f.submit "評価する", class: "btn btn-info font-size3" %>
	</div>
<% end %>