<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= link_to_remove_association "remove major_category", f %>
  </div>

  <div class="middle_categories">
    <%= f.fields_for :middle_categories do |middle_category| %>
      <%= render 'middle_category_fields', f: middle_category %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "add middle_category", f, :middle_categories %>
    </div>
  </div>
</div>