<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :name, "品種名：" %>
    <%= f.text_field :name %><br>
    <%= link_to_remove_association "この品種を削除", f %>
  </div>

  <div class="minor_categories">
    <%= f.fields_for :minor_categories do |minor_category| %>
      <%= render 'minor_category_fields', f: minor_category %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "修理内容を追加", f, :minor_categories %>
    </div>
  </div>
</div>