<% order = @order %>
<% if order.inquiries.count == 0 %>
	<div style="height: 500px;">
		<div id="add">
			<p>まだお問合せはありません</p>
			<%= link_to "新規問合せはこちら", new_users_user_order_inquiry_path(current_user, order), remote: true, class: "btn-default btn" %>
		</div>
	</div>
<% else %>
	<table class="table">
		<thead>
			<tr>
				<th>件名</th>
				<th>注文ID</th>
				<th>最終投稿日</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% order.inquiries.reverse.each do |inquiry| %>
				<tr>
					<td><%= inquiry.title %></td>
					<td>
						<% if inquiry.order_id == nil %>
							無
						<% else %>
							<%= link_to inquiry.order_id, users_user_order_path(current_user, inquiry.order_id) %>
						<% end %>
					</td>
					<td>
						<% if inquiry.replies.count == 0 %>
							<%= inquiry.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.created_at.wday]}) %H:%M") %>
						<% else %>
							<%= inquiry.replies.last.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.replies.last.created_at.wday]}) %H:%M") %>
						<% end %>
					</td>
					<td>
						<% if inquiry.order_id == nil %>
							<%= link_to "内容を見る", users_user_inquiry_path(current_user, inquiry, view_key: "shop"), remote: true, class: "btn btn-default" %>
						<% else %>
							<%= link_to "内容を見る", users_user_inquiry_path(current_user, inquiry, order_id: inquiry.order.id, view_key: "order", view_valu: order), remote: true, class: "btn btn-default" %>
						<% end %>
					</td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div id="add">
		<%= link_to "新規問合せはこちら", new_users_user_order_inquiry_path(current_user, order), remote: true, class: "btn-default btn" %>
	</div>
<% end %>