<div class="inquiry-form">
	<%= form_with model: Inquiry.new, url: users_user_inquiry_create_path(@user, @shop) do |f| %>
		<!-- 注文に紐づく問合せかどうか -->
		<% if defined? @order == false %>
      <%= f.hidden_field :order_id, :value => @order.id %>
     <% end %>
		<div class="row">
			<div class="field font-size3 col-sm-8 col-xs-8" style="margin-bottom: 30px">
			  <%= f.label :title, "件名" %><br/>
			  <%= f.text_field :title, class: "col-sm-8 col-xs-8" %>
			</div>
		</div>
		<div class="row">
			<div class="field font-size3 col-sm-12 col-xs-12" style="margin-bottom: 30px">
			  <%= f.label :body, "本文" %><br/>
			  <%= f.text_area :body, rows:10, style: "resize: none;", class: "col-sm-12 col-xs-12" %>
			</div>
		</div>
		<div class="actions col-sm-4 col-xs-4" style="margin-bottom: 20px">
			<%= f.submit "投稿", class: "btn btn-info font-size3" %>
		</div>
	<% end %>
</div>

<script>
	$(function() {
    $(document).on('click', 'input[type=submit]', function() {
    	// バリデーション
      if ($('#inquiry_title').val() == '') {
      	alert('未入力の項目があります');
        return false;
      }
      if ($('#inquiry_body').val() == '') {
      	alert('未入力の項目があります');
        return false;
      }
      // フォーム見えなくする
      $('.inquiry-form').addClass('hidden');
      // 投稿したらトップへ戻る
      $('body, html').animate({
      	scrollTop:0
			    }, 800);
    })
  })
</script>