<div class="col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1">
	<% if @order.inquiries.count == 0 %>
		<div style="height: 500px;">
			<p>まだお問合せはありません</p>
		</div>
	<% else %>
		<div class="row">
			<table class="table table-hover">
				<% @order.inquiries.reverse.each_with_index do |inquiry,index| %>
					<% index += 1 %>
					<tr id="title-<%= index %>">
						<td>
							<%= index %>.
						</td>
						<td>
							件名： <%= inquiry.title %>
						</td>
						<td>
							投稿日時： <%= inquiry.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[inquiry.created_at.wday]}) %H:%M") %>
						</td>
					</tr>
					<tbody style="display: none;" class="body-<%= index %>">
						<tr>
							<td></td>
							<td colspan="2">本文：</td>
						</tr>
						<tr>
							<td style="border-top: none;"></td>
							<td colspan="2" style="border-top: none;">
								<%= inquiry.body %>
							</td>
						</tr>
						<tbody style="display: none;" id="reply-<%= index %>" class="body-<%= index %>" >
							<%= render '/users/replies/show', inquiry: inquiry, index: index %>
						</tbody>

						<tr style="display: none;" class="body-<%= index %>">
							<td style="border-top: none;"></td>
							<td style="border-top: none;">
								<%= link_to "返信", new_users_user_order_inquiry_reply_path(@user, @order, inquiry, index: index), remote: true, class: "btn btn-success" %>
							</td>
						</tr>
					</tbody>

					<script>
						$('#title-<%= index %>').on('click', function() {
					  	$('.body-<%= index %>').slideToggle();
					    return false;
						});
					</script>
				<% end %>
			</table>
		</div>
	<% end %>
</div>