<div class="col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1">
	<% if @order.inquiries.count == 0 %>
		<p>まだお問合せはありません</p>
	<% else %>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>件名</th>
						<th>投稿日時</th>
						<th></th>
					</tr>
				</thead>
			</table>
			<div class="row">
				<% @order.inquiries.reverse.each_with_index do |inquiry,index| %>
					<div class="row">
						<div class="col-sm-5">
							<%= inquiry.title %>
						</div>
						<div class="col-sm-6">
							<%= inquiry.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@order.created_at.wday]}) %H:%M") %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= inquiry.body %>
						</div>
					</div>
					<% inquiry.replies.each do |reply| %>
						<div class="row">
							<%= reply.body %>
						</div>
					<% end %>
					<div class="row" id="replies-<%= index %>"></div>
					<%= link_to "返信", new_users_user_order_inquiry_reply_path(@user, @order, inquiry, index: index), remote: true, class: "btn btn-success" %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
