<div class="container-fluid" style="margin-top: 100px; margin-bottom: 150px; ">
  <div class="body-boder col-md-7 col-xs-11" style="margin-bottom: 50px;">
    <h2 class="font-size5" style="padding-left: 50px;">支払方法の選択</h2>
  </div>
  <div class="col-md-10 margin-left col-xs-12 body-boder" style="margin-bottom: 50px;">
    <div class="col-md-12 col-xs-12 review_section">
      <div class="row" style="padding: 50px 0;">
        <div class="font-size4 col-md-5 col-xs-5">
          <strong>支払料金</strong>
        </div>
        <div class="font-size4 col-md-5 col-xs-5">
          <%= @order.charge.to_s(:delimited) %>円
        </div>
      </div>

      <%= form_with model: @order, url: users_user_order_path(@user, @order) do |f| %>
        <div class="row" style="padding-bottom: 50px;">
          <div class="col-md-9 col-xs-9">
            <h4 class="font-size3" style="margin-bottom: 20px;"><strong>支払方法</strong></h4>
          </div>
          <div class="col-md-7 col-xs-7">
            <ul class="font-size3" style="list-style: none; padding-left: 10px;">
              <li>
                <label><%= f.radio_button :payment, :クレジット支払, checked: true, style: "width: 25px; height: 25px;" %> 現金支払</label>
              </li>
              <li>
                <label><%= f.radio_button :payment, :銀行振込, style: "width: 25px; height: 25px;" %> 銀行振込</label>
              </li>
              <li>
                <label><%= f.radio_button :payment, :クレジット支払, style: "width: 25px; height: 25px;" %> クレジット支払</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
          <div class="actions col-md-4 col-xs-4" style="margin-bottom: 20px">
            <%= f.submit "レビューを書く", data: { confirm: "支払方法を確定し、修理店を評価します。" }, class: "btn btn-info font-size3", id: "submit" %>
          </div>
          <div class="actions col-md-4 col-xs-4" style="margin-bottom: 20px">
            <%= f.submit "後でする", data: { confirm: "支払方法を確定します。" }, class: "btn btn-info font-size3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#submit').on('click', function() {
    $(".payment").hide();
  });
</script>