<div class="container">
  <div class="col-sm-9 col-xs-9 col-sm-offset-1 col-xs-offset-1" style="margin-bottom: 150px;">
    <h2 class="font-size4" style="margin-bottom: 50px;">修理依頼申込み</h2>
    <%= form_with model: Order.new, url: users_user_orders_path, local: true do |f| %>
      <%#= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :on_store_user_id, :value => @shop.id %>

      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="field font-size3 col-sm-6 col-xs-6" style="margin-bottom: 30px">
            <%= f.label :variety, "品種" %>
            <%= f.select :variety, Order.varieties.keys, autofocus: true, class: "col-sm-6 col-xs-6" %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 50px">
        	<div class="field font-size3 col-sm-6 col-xs-6">
            <%= f.label :maker, "メーカー" %><br />
            <%= f.text_field :maker, class: "col-sm-11 col-xs-11", placeholder: 'メーカー名:', autocomplete: "name-kana" %>
          </div>
          <div class="field font-size3 col-sm-6 col-xs-6">
            <%= f.label :model, "型番" %><br />
            <%= f.text_field :model, class: "col-sm-11 col-xs-11", placeholder: '型番:', autocomplete: "name-kana" %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 50px">
          <div class="field font-size3 col-sm-12 col-xs-12">
            <%= f.label :symptom, "症状" %><br />
            <%= f.text_area :symptom, rows:10, class: "col-sm-12 col-xs-12", placeholder: '症状を入力して下さい:', style: "resize: none; " %>
          </div>
        </div>

        <div class="row">
          <div class="field font-size3 col-sm-9 col-xs-9" style="margin-bottom: 30px">
            <%= f.label :order_images_images, "時計の画像", class: "font-size3" %><br />
            <%= f.attachment_field :order_images_images, multiple: true, class: "font-size2" %>
          </div>
        </div>

         <div class="row">
          <div class="field font-size3 col-sm-6 col-xs-6" style="margin-bottom: 50px">
            <%= f.label :pickup, "集荷方法" %>
            <%= f.select :pickup, Order.pickups.keys,class: "col-sm-11 col-xs-11" %>
          </div>
        </div>

        <div class="actions col-sm-4 col-xs-4" style="margin-bottom: 20px">
        	<%= f.submit "申込む", class: "btn btn-info font-size3", data: { confirm: "この情報で申込みます" } %>
        </div>
      </div>
    <% end %>

  </div>
</div>