<div class="container">
	<div class="row">
			<div id="tab-menu1" class="col-sm-6 col-xs-6">
        <a href="#tab1" class="active col-sm-3 col-xs-3 btn btn-default">注文詳細</a>
        <a href="#tab2" class="col-sm-3 col-xs-3 btn btn-default">お問合せ</a>
        <a href="#tab3" class="col-sm-3 col-xs-3 btn btn-default">レビュー</a>
      </div>
      <div class="col-sm-2 col-sm-offset-1">
      	<p class="btn btn-success">QRコードを表示</p>
      </div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
			<div id="tab1" class="tab">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="font-size3">注文情報</h3>
						<table class="table font-size2">
							<tbody>
								<tr>
									<td class="cell-title">受付日</td>
									<td class="cell-body"><%= @order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@order.created_at.wday]}) %H:%M") %></td>
								</tr>
								<tr>
									<td class="cell-title">定休日</td>
									<td class="cell-body"><%= @shop.holiday %></td>
								</tr>
								<tr>
									<td class="cell-title">電話番号</td>
									<td class="cell-body"><%= @shop.telephone_number %></td>
								</tr>
								<tr>
									<td class="cell-title">最寄駅</td>
									<td class="cell-body"><%= @shop.closest_station %></td>
								</tr>
								<tr>
									<td class="cell-title">住所</td>
									<td class="cell-body"><%= @shop.postcode %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border: none;"></td>
									<td class="cell-body" style="border: none; "><%= @shop.address %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border: none;"></td>
									<td class="cell-body" style="border: none;"><p class="btn btn-default" style="background-color: blue; color: white;">Google MAP</p></td>
								</tr>
								<tr>
									<td class="cell-title">駐車場</td>
									<td class="cell-body"><%= @shop.parking %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3 class="font-size3">サービス概要</h3>
						<%= @shop.greeting %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3 class="font-size3">店舗情報</h3>
						<table class="table font-size2">
							<tbody>
								<tr>
									<td class="cell-title">営業時間</td>
									<td class="cell-body"><%= @shop.business_hours %></td>
								</tr>
								<tr>
									<td class="cell-title">定休日</td>
									<td class="cell-body"><%= @shop.holiday %></td>
								</tr>
								<tr>
									<td class="cell-title">電話番号</td>
									<td class="cell-body"><%= @shop.telephone_number %></td>
								</tr>
								<tr>
									<td class="cell-title">最寄駅</td>
									<td class="cell-body"><%= @shop.closest_station %></td>
								</tr>
								<tr>
									<td class="cell-title">住所</td>
									<td class="cell-body"><%= @shop.postcode %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border: none;"></td>
									<td class="cell-body" style="border: none; "><%= @shop.address %></td>
								</tr>
								<tr>
									<td class="cell-title" style="border: none;"></td>
									<td class="cell-body" style="border: none;"><p class="btn btn-default" style="background-color: blue; color: white;">Google MAP</p></td>
								</tr>
								<tr>
									<td class="cell-title">駐車場</td>
									<td class="cell-body"><%= @shop.parking %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div id="tab2" class="tab">
				<table class="table">
					<thead>
						<tr>
							<th>注文一覧</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>data</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="tab3" class="tab">
				<table class="table">
					<thead>
						<tr>
							<th>問合せ一覧</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>data</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

<script>
	$('.tab[id != "tab1"]').hide();

	$('#tab-menu1 a').on('click', function() {
  	$(".tab").hide();
  	$("#tab-menu1 .active").removeClass("active");
  	$(this).addClass("active");
  	$($(this).attr("href")).show();
  	return false;
	});
</script>