<div class="container-fluid margin-top">
	<div class="col-md-11 margin-left col-xs-12">
		<div class="font-size3" style="margin-bottom: 30px;">
			<%= search_form_for(@q, url:on_store_users_on_store_user_inquiries_path(current_on_store_user), class: "form-inline") do |f| %>
				<div class="form-group">
					<%= f.label :user_name_cont, 'ユーザ名' %>
					<%= f.search_field :user_name_cont %>
				</div>
				<div class="form-group">
					<%= f.label :on_store_user_read_in, '未読' %>
					<%= f.check_box 'on_store_user_read_in',{},checked_value = "false" %>
				</div>
				<div class="form-group">
					<%= f.label :on_store_user_read_in, '既読' %>
					<%= f.check_box 'on_store_user_read_in',{},checked_value = "true" %>
				</div>
				<div class="form-group">
					<%= f.submit "検索", name: "serch", class: "btn btn-default font-size2" %>
					<%= link_to "リセット", on_store_users_on_store_user_inquiries_path(current_on_store_user), class: "btn btn-default font-size2" %>
				</div>
			<% end %>
		</div>
		<div class="inquiries">
			<% if @user.inquiries.present? %>
				<%= render '/shared/inquiries/index', user: @user, inquiries: @inquiries %>
			<% else %>
				まだお問合せはありません
			<% end %>
		</div>
	</div>
</div>

<style type="text/css" media="screen">
	.form-group {
		margin-right: 10px;
	}
</style>