<div class="container">
	<div>
		<%= search_form_for(@q, url:on_store_users_on_store_user_inquiries_path(current_on_store_user)) do |f| %>

			<%= f.label :user_name_cont, 'ユーザ名' %>
			<%= f.search_field :user_name_cont %>

			<%= f.label :on_store_user_read_in, '未読' %>
			<%= f.check_box 'on_store_user_read_in',{},checked_value = "false" %>
			<%= f.label :on_store_user_read_in, '既読' %>
			<%= f.check_box 'on_store_user_read_in',{},checked_value = "true" %>
			<%= f.label :user_read_in, 'ユーザ未読' %>
			<%= f.check_box 'user_read_in',{},checked_value = "false" %>
			<%= f.label :user_read_in, 'ユーザ既読' %>
			<%= f.check_box 'user_read_in',{},checked_value = "true" %>

			<%= f.submit "検索", name: "serch" %>
		<% end %>
	</div>
	<div class="inquiries">
		<% if @user.inquiries.present? %>
			<%= render '/shared/inquiries/index', user: @user, inquiries: @inquiries %>
		<% else %>
			まだお問合せはありません
		<% end %>
	</div>
</div>