<!DOCTYPE html>
<html>
  <head>
    <title>Re:clock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--URLの先頭に'admin'があれば'true'-->
    <% if request.fullpath.match?(/^\/admins\/*/) %>
      <%= render "/layouts/admins_header" %>
    <% elsif request.fullpath.match?(/^\/on_store_users\/*/) %>
      <%= render "/layouts/on_store_users_header" %>
    <% else %>
      <%= render "/layouts/users_header" %>
    <% end %>

    <%= yield %>

    <!--URLの先頭に'admin'があれば'true'-->
    <% if request.fullpath.match?(/^\/admins\/*/) %>
      <%= render "/layouts/footer" %>
    <% elsif request.fullpath.match?(/^\/on_store_users\/*/) %>
      <%= render "/layouts/footer" %>
    <% else %>
      <%= render "/layouts/user_footer" %>
    <% end %>

  </body>
</html>

<% if user_signed_in? %>
<% end %>

<style type="text/css" media="screen">
  body {
  }
</style>